bcrypt
cffi
contourpy
customtkinter
cycler
darkdetect
fonttools
joblib
ffmpeg-python
kiwisolver
matplotlib
narwhals
numpy
packaging
pandas
pillow
pycparser
pydub
pyparsing
python-dateutil
python_speech_features
openpyxl
scikit-learn
scipy
six
sounddevice
soundfile
threadpoolctl
tqdm
typing_extensions
Flask==3.0.3
Werkzeug==3.0.2
